<div>

    <h5>
        {{ 'VERSION_INFO' | translate }}
    </h5>
    <table class="table">
        <tr>
            <th width="120" translate>COMPONENT</th>
            <th width="120" translate>VERSION</th>
        </tr>
        <tr>
            <td translate>BACKEND_MODULE</td>
            <td><div class='loader' ng-if="version.length &lt;= 0"></div>{{version}}</td>
        </tr>
        <tr>
            <td translate>FRONTEND_MODULE</td>
            <td id='uiversion'><div class='loader'></div></td>
        </tr>
        <tr>
            <td translate>FFMPEG</td>
            <td><div class='loader' ng-if="version.length &lt;= 0"></div>{{ffmpegVersion}}</td>
        </tr>
        <!-- coming soon, ffmpeg version, nodejs version, plex version, whatever can be used to help debug things-->
    </table>

</div>
